.cards {
  display: grid;
  justify-content: center;
  margin-top: 80px;
  grid-template-columns: 350px 350px;
  grid-row: auto auto;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
}

@media screen and (max-width: 600px) {
  .cards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
