.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #F0F0F0;
  color: #343D24CC;
  z-index: 10;

}

li {
  list-style: none;
  padding: 1vw;
    transition: transform 0.025s;
}

li:hover {
  cursor: pointer;
  transform: scale(1.25);
  color: var(--orange);
}


@media screen and (max-width: 800px) {
.navbar {
flex-direction: column;
align-items: flex-end;
}
li {
  list-style: none;
  padding: 1vw;
    transition: transform 0.025s;
}

li:hover {
  cursor: pointer;
  transform: scale(1.25);
  color: var(--orange);
}
}
