
.bubbles {
  display: flex;
  direction: row;
  margin-top: 50px;
  margin-bottom: 650px;
}

.circle-stack {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--chantilly);
  position: relative;
  margin: 50px;
  box-shadow: 5px 10px 18px var(--leaf);
}

.circle-stack-text {
  color: var(--leaf);
  font-size: 20px;
  margin-bottom: 150px;
  margin-left: 25px;
  line-height: 115px;
  padding: 45px;
  vertical-align: middle;
  position: absolute;
}

.circle-profiles {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--chantilly);
  position: relative;
  margin: 50px;
  box-shadow: 5px 10px 18px var(--leaf)
}

.circle-profiles-text {
  color: var(--leaf);
  font-size: 20px;
  margin-bottom: 70px;
  margin-right: 70px;
  margin-left: 10px;
  line-height: 120px;
  padding: 45px;
  vertical-align: middle;
  position: absolute;
}

.circle-experience {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--chantilly);
  position: relative;
  margin: 50px;
  box-shadow: 5px 10px 18px var(--leaf);
}

.circle-experience-text {
  color: var(--leaf);
  font-size: 20px;
  margin-bottom: 70px;
  line-height: 140px;
  padding: 35px;
  vertical-align: middle;
  position: absolute;
}
.circle-interests {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--chantilly);
  position: relative;
  margin: 50px;
  box-shadow: 5px 10px 18px var(--leaf);
}

.circle-interests-text {
  color: var(--leaf);
  font-size: 20px;
  margin-bottom: 70px;
  line-height: 120px;
  padding: 45px;
  vertical-align: middle;
  position: absolute;
}
