:root {
--charcoal: #0E151B;
--leaf: #343D24;
--pink: #ED8798;
--blue: #7EBBFF;
--green: #52D9B9;
--orange: #FF9A3C;
--texture: ##F0F0F0;
--chantilly: #FFCBC9;
}

body {
font-family: 'Kumar One', sans-serif;
}

h1 {
  display: flex;
  background-color: var(--charcoal);
  opacity: 90%;
  border-radius: 50px;
  padding: 10px;
  margin: 10px 200px 5px 200px;
  justify-content: center;
  font-size: 60px;
  color: var(--pink);
  text-shadow: 3px 4px 5px #000000;
}

svg:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  h1 {
    display: flex;
    background-color: var(--charcoal);
    opacity: 90%;
    border-radius: 50px;
    padding: 10px;
    margin: 20px;
    justify-content: center;
    font-size: 30px;
    color: var(--pink);
    text-shadow: 3px 4px 5px #000000;
  }

  svg {
    max-width: 100%;
  height:300px;
  }
}
